@page
@model CNMaisons.Pages.AddPaymentModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Book Property Vist";
    var currentYear = DateTime.Now.Year;
}
<script src="~/libraries/jquery/jquery.js"></script>
<script src="~/libraries/jquery-validate/jquery.validate.js"></script>
<script src="~/libraries/jquery-validate-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">

    var currentYear = new Date().getFullYear();

    // Set the default value of the select to the current year
    document.getElementById("PaymentStartYearSelect").value = currentYear;



     function calculatePaymentEndMonth(paymentStartMonthSelect) {
         // Placeholder for month12a, month12b, month6a, and month6b arrays
         // Replace these placeholders with your actual data
         const month12a = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
         const month12b = ["DEC", "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV"];
         const month12c = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];;

         const month6a = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
         const month6b = ["JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC", "JAN", "FEB", "MAR", "APR", "MAY"];
         const month6c = ["JUL", "AUG", "SEP", "OCT", "NOV", "DEC", "JAN", "FEB", "MAR", "APR", "MAY", "JUN"];

 
        // Get the value of MonthsPaidFor
         const monthsPaidForSelect = document.getElementById("MonthsPaidFor");
         const monthsPaidFor = parseInt(monthsPaidForSelect.value);
  

         // Get the value of PaymentStartMonth
         const paymentStartMonthValue = paymentStartMonthSelect;          
         const paymentEndMonthInput = document.getElementById("PaymentEndMonth");
         const NextDueMonthInput = document.getElementById("NextDueMonth");


         if (monthsPaidFor === 12) {
             const index = month12a.indexOf(paymentStartMonthValue);
             if (index !== -1) {
                 paymentEndMonthInput.value = month12b[index];
                 NextDueMonthInput.value = month12c[index];

             }
         } else if (monthsPaidFor === 6) {
             const index = month6a.indexOf(paymentStartMonthValue);
             if (index !== -1) {
                 paymentEndMonthInput.value = month6b[index];
                 NextDueMonthInput.value = month6c[index];
             }
         }
         // Return empty string if no matching month found
         return '';
     }




</script>



<div>
    <video autoplay muted loop id="video-background">
        <source src="~/img/backvideos.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <form name="RequestPropertyVisitForm" method="post" class="form property_form transition-fade-down">
        <br />
        <fieldset>
            <span style="font-size: larger; font-style: italic;">
                @Model.Message
                <br />
            </span>

            <legend>Add Payment</legend>
            <div>
                <label>Tenant ID:</label><br />
                <input type="text" asp-for="TenantID" maxlength="5" required oninput="this.value = this.value.toUpperCase();" /><br />


                <label> Property ID:</label><br />
                <input type="text" asp-for="PropertyID" maxlength="7" required oninput="this.value = this.value.toUpperCase();" /><br />

                <label>Amount Paid:</label><br />
                <input type="number" asp-for="AmountPaid" required  /><br />


                <label>Months Paid For:</label><br />
                <select asp-for="MonthsPaidFor" id="MonthsPaidFor" required onchange="calculatePaymentEndMonth(document.getElementById('PaymentStartMonth').value)">
                    <option value="12">12</option>
                    <option value="6">6</option>
                </select><br />
                <label>Payment Start Month:</label><br /> 
                <select name="PaymentStartMonth" asp-for="PaymentStartMonth" id="PaymentStartMonth" required onchange="calculatePaymentEndMonth(this.value)">
                    <option value="">Select Month</option>
                    <option value="JAN">JAN</option>
                    <option value="FEB">FEB</option>
                    <option value="MAR">MAR</option>
                    <option value="APR">APR</option>
                    <option value="MAY">MAY</option>
                    <option value="JUN">JUN</option>
                    <option value="JUL">JUL</option>
                    <option value="AUG">AUG</option>
                    <option value="SEP">SEP</option>
                    <option value="OCT">OCT</option>
                    <option value="NOV">NOV</option>
                    <option value="DEC">DEC</option>
                </select>

                <label>Payment End Month:</label><br />
                <input type="text" asp-for="PaymentEndMonth" required id="PaymentEndMonth" readonly/><br />
                <label>Next Due Month:</label><br />
                <input type="text" asp-for="NextDueMonth" required id="NextDueMonth" required min="1" max="12" maxlength="2" readonly /><br />



                <label>Payment Start Year:</label><br />
                <select asp-for="PaymentStartYear" required id="PaymentStartYearSelect">
                    <option value="">Select Year</option>
                    <!-- Generate options for years 2024 to 2028 (currentYear + 4) -->
                    @for (int year = currentYear; year <= (currentYear + 2); year++)
                    {
                        <option value="@year">@year</option>
                    }
                </select>


              
                <label>Next Due Year:</label><br />
                <input type="text" asp-for="NextDueYear" min="2024" max="2050" maxlength="4" required /><br />

                <label>Next Due Date:</label><br />
                <input type="date" asp-for="NextDueDate" required /><br />

                <label>Date Of Tenants Payment:</label><br />
                <input type="date" asp-for="DateOfTenantsPayment" required /><br />

                <label>Method Of Payment:</label><br />
                <input type="text" asp-for="MethodOfPayment" maxlength="1" required /><br />

                <label>Tenant Payment Bank:</label><br />
                <input type="date" asp-for="TenantPaymentBank" required /><br />

                <input type="text" name="VisitStatus" maxlength="20" required value="Open" hidden /><br />
            </div>
        </fieldset>

        <input type="submit" name="Submit" value="Request Property Visit" class="btn" />

    </form>
</div>
