@page
@model CNMaisons.Pages.ApplicationModel
@{
    Layout = "_Header";
    ViewData["Title"] = "My Reservations";
}
<div>
    <video autoplay muted loop id="video-background">
        <source src="~/img/backvideos.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <form name="Application" method="post" enctype="multipart/form-data" class="application_form">
        <fieldset>
            <legend>Personal Information</legend>
            <div>
                <label for="FirstName">First Name</label>
                <br />
                <input type="text" name="FirstName" />
                <br />

                <label for="LasName">Last Name</label>
                <br />
                <input type="text" name="LastName" />
                <br />

                <label for="TelephoneNumber">Tel Number</label>
                <br />
                <input type="tel" name="TelephoneNumber" />
                <br />

                <label for="Email">Email</label>
                <br />
                <input type="email" name="Email" />
                <br />

                <label for="DateOfBirth">Date Of Birth</label>
                <br />
                <input type="date" name="DateOfBirth" />
                <br />


                <label for="Nationality">Nationality</label>
                <br />
                <input type="text" name="Natoionality" />
                <br />

                <label for="HomeTown">Local Govt. Area/Home Town:</label>
                <br />
                <input type="text" name="HomeTown" />
                <br />

                <label for="PermanentHomeAddress">Permmnent Home Address</label>
                <br />
                <input type="text" name="PermanentHomeAddress" />
                <br />
            </div>
        </fieldset>

        <fieldset>
            <legend>Occupation Info</legend>
            <div>
                <div>
                    <label for="Occupation">Occupation</label>
                    <br/>
                    <input type="text" name="Occupation" />
                    <br />

                    <label for="SelfEmployed">Are you self-employed or in employment of an establishment? </label>
                    <br/>
                    <input type="radio" id="answer_yes" name="answer" value="yes">
                    <label for="answer_yes">Yes</label>
                    <input type="radio" id="answer_no" name="answer" value="no">
                    <label for="answer_no">No</label>
                    <br />

                    <label for="EmployerAddress">If self employed by another establishment, state the name and address of your employer </label>
                    <br />
                    <input type="text" name="EmployerAddress" />
                    <br/>
                    <label for="JobLeangth">How Long have you been on the Job</label>
                    <label for="StartDate">Start Date:</label>
                    <input type="date" id="start_date" name="StartDate" required><br>

                    <label for="EndDate">End Date:</label>
                    <input type="date" id="end_date" name="EndDate"><br>

                    <input type="checkbox" id="currently_employed" name="currentlyEmployed">
                    <label for="currentlyEmployed">Currently employed at this job</label><br>
                </div>
                <div>
                    <label for="CurrentPosition">Current Position Held At Job</label>
                    <br/>
                    <input type="text" name="CurrentPosition" />
                    <br />

                    <label for="NatureOfJob">Nature of Job</label>
                    <br/>
                    <input type="text" name="Nature of Job" />
                    <br />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Past Rental Information</legend>
            <div>
                <div>
                    <label for="FormerResidence">Former Residence</label>
                    <br/>
                    <input type="text" name="FormerResidence" />
                    <br />

                    <label for="MoveOutReason">State specification (s) for moving out of former residence: </label><br />
                    <textarea name="MoveOutReason" style="max-height: 200px; max-width: 500px;"></textarea>
                    <br />

                    <label for="YearsAtFormerPlace">Number of years spent at the former residence</label>
                    <br/>
                    <input type="number" min="0" name="YearsAtFormerPlace" />
                    <br />

                    <label for="LandordName">Name of Former Land Lord</label>
                    <br/>
                    <input type="text" name="LandordName" />
                    <br />

                    <label for="LandordAddress">Address of Former Land Lord</label>
                    <br/>
                    <input type="text" name="LandordAddress" />
                    <br />

                    <label for="Objection">Do you Have any Objection to Your Reson to Leaving you Former Residence</label>
                    <br/>
                    <textarea name="Objection" style="max-height: 200px; max-width: 500px;"></textarea>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Marital Information</legend>
            <div>
                <div>
                    <label for="MaritalStatus">Marital Status</label>
                    <br/>
                    <select name="MaritalStatus">
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Divorced">Divorced</option>
                    </select>
                    <br />

                    <label for="SpouseName">Full Name of Spouse</label>
                    <br/>
                    <input type="text" name="SpouseName" />
                    <br />

                    <label for="SpouseOccupation">Spouse's Occupation/Employment</label>
                    <br/>
                    <input type="text" name="SpouseOccupation" />
                    <br />

                    <label for="NumbeOfResidents">Number of People Intending to Live in the Accomodation</label>
                    <br/>
                    <input type="text" name="NumberOfResidence" />
                    <br />
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Guarrantor Information</legend>
            <div>
                <div>
                    <label for="Guarrantor1Name">Guarantor One Name</label>
                    <br/>
                    <input type="text" name="Guarrantor1Name" />
                    <br />

                    <label for="Guarrantor1Occupation">Guarantor One Occupation</label>
                    <br/>
                    <input type="text" name="Guarrantor1Occupation" />
                    <br />

                    <label for="Guarrantor1Address">Guarantor One Address</label>
                    <br/>
                    <input type="text" name="Guarrantor1Address" />
                    <br />

                    <label for="Guarrantor1TelNumber">Guarantor One Phone Number</label>
                    <br/>
                    <input type="tel" name="Guarrantor1TelNumber" />
                    <br />
                </div>

                <div>
                    <label for="Guarrantor2Name">Guarantor Two Name</label>
                    <br/>
                    <input type="text" name="Guarrantor2Name" />
                    <br />

                    <br/>
                    <label for="Guarrantor2Occupation">Guarantor Two Occupation</label>
                    <br/>
                    <input type="text" name="Guarrantor2Occupation" />
                    <br />

                    <label for="Guarrantor2Address">Guarantor Two Address</label>
                    <br/>
                    <input type="text" name="Guarrantor2Address" />
                    <br />

                    <label for="Guarrantor2TelNumber">Guarantor Two Phone Number</label>
                    <br/>
                    <input type="tel" name="Guarrantor2TelNumber" />
                    <br />
                </div>
            </div>
            <div class="confirmation_text">
                <label for="LegalConfirmation" >
                    I hereby declare and state that all the information supplied above are true and correct to the best of my knowledge and belief and
                    I accept to be held liable for any misrepresentation therein.
                </label>
                <input type="checkbox" value="Yes" name="LegalConfirmation" />
                <br />
                <input type="submit" name="Submit" value="Apply" />
            </div>
        </fieldset>
        
    </form>
</div>