@page
@model CNMaisons.Pages.UserCreateTestModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Login Sample";
}
<div class="login_page">
    <video autoplay muted loop id="video-background">
        <source src="~/img/login.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <form name="Login" method="post" class="form loginForm">
        <p class="@Model.SuccessClass">@Model.SuccessMessage</p>
        <p class="@Model.ErrorClass">@Model.ErrorMessage</p>
        <fieldset>
            <legend>Create New Employee</legend>
            <label>First Name</label>
            <br />
            <input type="text" name="FirstName"/>
            <br />
            <label>Last Name</label>
            <br />
            <input type="text" name="LastName"/>
            <br />
            <label>PhoneNumber</label>
            <br />
            <input type="number" name="PhoneNumber"/>
            <br />
            <label for="Email">Email</label>
            <br />
            <input type="email" name="Email" />
            <br />

            <label for="Password">Password</label>
            <br />
            <input type="password" name="Password" />
            <br />

            <label for="PropertyType">Role</label>
            <br />
            <select name="Role">
                <option value="Tennant">Tennant</option>
                <option value="Prospective Tennant">Prospectuve Tennant</option>
                <option value="LandLord">LandLord</option>
            </select>
            <br />

            <input type="submit" name="Submit" value="Create Account" class="btn"/>
        </fieldset>
    </form>
</div>