@page
@model CNMaisons.Pages.CreateAccountModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Create Account";
}
<div class="login_page">
    <video autoplay muted loop id="video-background">
        <source src="~/img/login.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <form name="Login" method="post" class="form loginForm">
        <br />
        <span style="font-size: larger; font-style: italic;">@Model.errorMessage</span>
        <fieldset>
            <legend>Create New User</legend>
            <label>First Name</label>
            <br />
            <input type="text" name="UserFirstName" required maxlength="30" />
            <br />
            <label>Last Name</label>
            <br />
            <input type="text" name="LastName" required maxlength="30" />
            <br />
            <label for="Email">Email</label>
            <br />
            <input type="email" name="Email" required maxlength="100" />
            <br />
            <label for="Password">Password</label>
            <br />
            <input type="password" name="Password" required />
            <br />
            <label for="ConfirmPassword">Confirm Password</label>
            <br />
            <input type="password" name="ConfirmPassword" required />
            <br />
            <label for="Role">Select Role:</label>
            <br />
            <select name="Role" class="form-control" required>
                <option value="0">--Make-a-Selection--</option>
                <option value="Landlord">Landlord</option>
                <option value="Staff">Staff</option>
            </select>
            <table style="border-collapse: collapse; width: auto; text-align: left">
                <thead>
                    <tr style="border: 1px solid #ddd; background-color: black;">
                        <th style="border: 1px solid #ddd;">Status</th>
                        <th style="border: 1px solid #ddd;">True</th>
                        <th style="border: 1px solid #ddd;">False</th>
                    </tr>
                </thead>
                <tdody>
                    <tr>
                        <td style="border: 1px solid #ddd;">Default Password</td>
                        <td style="border: 1px solid #ddd;"><input type="radio" value="true" name="DefaultPassword" checked>Set to default</td>
                        <td style="border: 1px solid #ddd;"><input type="radio" value="false" name="DefaultPassword">Not set to default </td>
                    </tr>
                </tdody>
            </table>
            <button name="Submit" type="submit" class="btn">Submit</button>
            @Model.Message    
        </fieldset>
    </form>
</div>