@page
@model CNMaisons.Pages.IndexModel
@{
}
<div class="entry">
    <header>
        <a href="~/Index"><img src="~/img/png/logo-no-background.png" width="150" class="intro_image"/></a>
        <ul>
            <li><a href="~/Application">Apply to Rent</a></li>
            <li><a href="~/Login">Log In</a></li>
            <li class="last_list"><a href="~/ViewProperty">View Properties</a></li>
        </ul>
    </header>
    <div class="searchbox transition-fade-down">
        <form method="post" name="SearchForm">
            <p class="quote">Offering premium, meticulously designed properties with comfort, convenience, and style.</p>
            <input type="text" name="Search" class="searchfield" placeholder="Find A Place"/>
            <input type="submit" name="Search" value="Search" class="search_button"/>
        </form>
    </div>
    <div class="properties">
        <p class="prop_head">Some properties</p>
        <form method="post" name="InfoForm" action="~/PropertyDetails">
            <div class="cards transition-fade">
                <div class="property-card">
                    <a href="#"><img src="~/img/introhome.jpg" alt="property-image" /></a>
                    <div class="property-details">
                        <h2 class="property-title">Beautiful Apartment in Downtown</h2>
                        <p class="property-location">123 Main St, City, State, Zip</p>
                        <p class="property-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam mauris vel enim faucibus, ac blandit justo consequat.</p>
                        <div class="property-price">$2000 / month</div>
                        <input type="submit" name="Submit" value="View Details" class="btn btn-primary"  />
                    </div>
                </div>
                <div class="property-card">
                    <a href="#"><img src="~/img/introhome.jpg" alt="property-image" /></a>
                    <div class="property-details">
                        <h2 class="property-title">Beautiful Apartment in Downtown</h2>
                        <p class="property-location">123 Main St, City, State, Zip</p>
                        <p class="property-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam mauris vel enim faucibus, ac blandit justo consequat.</p>
                        <div class="property-price">$2000 / month</div>
                        <input type="submit" name="Submit" value="View Details" class="btn btn-primary"/>
                    </div>
                </div>
                <div class="property-card">
                    <a href="#"><img src="~/img/introhome.jpg" alt="property-image" /></a>
                    <div class="property-details">
                        <h2 class="property-title">Beautiful Apartment in Downtown</h2>
                        <p class="property-location">123 Main St, City, State, Zip</p>
                        <p class="property-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam mauris vel enim faucibus, ac blandit justo consequat.</p>
                        <div class="property-price">$2000 / month</div>
                        <input type="submit" name="Submit" value="View Details" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>