@page
@model CNMaisons.Pages.PropertyDetailsModel
@{
    Layout = "_Header";
    ViewData["Title"] = "PropertyDetail";
}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="text/javascript">
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        // Optional parameters
        loop: true,


        pagination: {
            el: '.swiper-pagination',
            clickable: true;
        },


        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

    });
</script>
<div class="container">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="~/img/home_inside1.jpg" alt="Image 1"></div>
            <div class="swiper-slide"><img src="~/img/home_inside2.jpg" alt="Image 2"></div>
            <div class="swiper-slide"><img src="~/img/home_inside3.jpg" alt="Image 3"></div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
    <div class="property-info">
        <div>
            <p class="prop_id"># Property ID 123456</p>
            <p class="prop_price">5,000,000 NGN</p>
        </div>
        <div>
            <h1>Beautiful Apartment in Downtown</h1>
            <p class="location">123 Main St, City, State, Zip</p>
            <div class="icons">
                <span class="bedroom-icon">🛏️</span> 
                <span class="bathroom-icon">🚽</span> 
                <span class="size-icon">📏</span> 
            </div>
           
        </div>
    </div>
</div>
