body {
    background-color: #1c1c1b;
    font-family: "Raleway", sans-serif;
    color: white;
}
.entry {
    position: absolute;
    background-image: url("/img/introimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 60vh;
    top: 0%;
    bottom: 45%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 1);
    /*filter: brightness(0.6);*/
}
.intro_image {
    
}
header> a{
    margin-top: 1.5rem;
}
header {
    display: flex;
    max-height: 20%;
    max-width: 100vw;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
}
header ul{
    display: flex;
}
header li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
}
header li a {
    text-decoration: none;
    color: white;
}
header li a:hover{
    color: gray;
}
.last_list{
    border: 1px solid white;
}
.last_list:hover{
    border: 1px solid gray;
}
.quote {
    font-family: "Raleway", sans-serif;
    width: fit-content;
    margin: auto;
    color: white;
    font-size: 1.3rem;
}
.searchbox {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 10px;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content:center;
}
.searchfield {
    width: 70%;
    padding: 0.5rem;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-top: 2rem;
    margin-left:5rem;
    margin-right:auto
}
.search_button {
    padding: 10px 20px;
    background-color: #1c1c1b; /* Change the background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search_button:hover {
    background-color: #0a0a0a;
}

/*Sign Up Page*/
.application_form{
    width: fit-content;
    margin: auto;
}
.confirmation_text{
    width: 35rem;
}
fieldset {
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}
fieldset>div{
    margin:auto;
    width: inherit;
}

input[type=text], input[type=email], input[type=tel], input[type=date],
textarea, input[type=number],select  {
    width: 95%;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: #1c1c1b;*/
    caret-color: #fff;
    color: #fff
}
    select option {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: brightness(0.6);
}
input[type=submit] {
    width: 95%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #fff;
    background-color: #1c1c1b;
    color: white;
}
input[type=submit]:hover {
    background-color: #292323;
    padding: 0.6rem;
    transition: 0.2s ease-in-out;
}
.form{
    width: 70%;
    margin: auto;
}
.view_form {
    width: 50%;
    margin: auto;
}
/*Tennant Home Page*/
.memberhome_nav{
    display: flex;
    justify-content: space-between;
}
.memberhome_nav ul{
    display: flex;
}

.memberhome_nav li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
}
.memberhome_nav a {
    text-decoration: none;
    color: white;
}
.memberhome_nav > a {
    margin-top: 1.5rem;
}
.home_intro {
    background-color: #e39a3b;
    height: 23rem;
    padding-left: 1rem;
    padding-right:1rem;
}
.icon_div {
    background-image: url("/img/profile_icon.png");
    background-size: cover;
    height: 7rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-radius: 50%;
}
.basic_info h2{
    width: fit-content;
    margin:auto;
}
.basic_info p{
    width: fit-content;
    margin:auto;
    font-weight:bold;
}
.infodiv {
    border: 1px solid #fff;
    height: 25rem;
    width: 90%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    background-color: #1f1e1e;
    padding: 1rem;
}
.boxcontainer {
    height: 25rem;
    display: flex;
    width: 100%;
    margin:auto;
    justify-content: space-between;
}
.box1>div:nth-child(1){
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
  
}
.box1 > div:nth-child(1) p{
  margin-bottom: 0;
}
.box1 > div:nth-child(1) span{
    font-weight:bold;
}
.box1 > div:nth-child(2) {
    background-color: black;
}
.next_rent {
    border: 1px solid #fff;
    margin-top: 3rem;
    display:flex;
    flex-flow: column;
    justify-content:center;
    padding: 1rem;
}
.next_rent p{
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    font-size: 2.5rem;
}
.next_rent h3{
    margin-top:2rem;
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
}
.title{
    width:fit-content;
    margin:auto;
    margin-top: 0.5rem;
    font-weight:bold;
}