body {
    background-color: #1c1c1b;
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 0;
}
.entry {
    position: absolute;
    background-image: url("/img/introimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 60vh;
    top: 0%;
    bottom: 45%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 1);
    /*filter: brightness(0.6);*/
}
.intro_image {
    
}
header> a{
    margin-top: 1.5rem;
}
header {
    display: flex;
    max-height: 20%;
    max-width: 100vw;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
}
header ul{
    display: flex;
}
header li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
}
header li a {
    text-decoration: none;
    color: white;
}
header li a:hover{
    color: gray;
}
.last_list{
    border: 1px solid white;
}
.last_list:hover{
    border: 1px solid gray;
}
.quote {
    font-family: "Raleway", sans-serif;
    width: fit-content;
    margin: auto;
    color: white;
    font-size: 1.3rem;
}
.searchbox {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 10px;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content:center;
}
.searchfield {
    width: 70%;
    padding: 0.5rem;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-top: 2rem;
    margin-left:5rem;
    margin-right:auto
}
.search_button {
    padding: 10px 20px;
    background-color: #1c1c1b; /* Change the background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search_button:hover {
    background-color: #0a0a0a;
}
.properties{
    margin-top: 8rem;
}
.cards {
    display: flex;
    width: 85%;
    margin: auto;
    flex-flow: row wrap;
    align-items:center;
    justify-content:center;
}
.property-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #1e2021;
    height: 35rem;
    margin: 1rem;
    width: 29%;
    max-width: 20rem;
}
.property-card  img{
    height: 40%;
    width: 100%;
}

.property-details{
    padding: 1rem;
}

.property-title {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
}

.property-location {
    color: white;
    margin-bottom: 10px;
}

.property-description {
    margin-bottom: 15px;
    color: white;
}

.property-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}
.prop_head{
    font-weight: bold;
    width: fit-content;
    font-size: 1.2rem;
    margin: auto;
    border-bottom: 1px solid white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}
.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
}

.btn:hover {
    background-color: #0056b3;
}

/*Sign Up Page*/
.application_form{
    width: fit-content;
    margin: auto;
    max-width: 50rem;
}
.confirmation_text{
    width: 35rem;
}
fieldset {
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}
fieldset>div{
    margin:auto;
    width: inherit;
}

input[type=text], input[type=email], input[type=tel], input[type=date],
textarea, input[type=number], input[type=password] {
    width: 95%;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
    caret-color: #fff;
    color: #fff
}
input[type=file]{
   margin-top: .5rem;
   margin-bottom: .5rem;
   color: gray;
}
    select option {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
select {
    width: 95%;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
    caret-color: #fff;
    color: #fff
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: brightness(0.6);
}
.btn {
    width: 95%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #fff;
    background-color: #1c1c1b;
    color: white;
}
.btn:hover {
    background-color: #292323;
    padding: 0.6rem;
    transition: 0.2s ease-in-out;
}
.form{
    width: 70%;
    margin: auto;
}
.view_form {
    width: 50%;
    margin: auto;
    max-width: 30rem;
}
/*Tennant Home Page*/
.memberhome_nav{
    display: flex;
    justify-content: space-between;
}
.memberhome_nav ul{
    display: flex;
}

.memberhome_nav li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
    transition: 0.2s ease-in
}
.memberhome_nav a {
    text-decoration: none;
    color: white;
    
}
.memberhome_nav li:hover{
    border-bottom: 1.4px solid white;
}
.memberhome_nav > a {
    margin-top: 1.5rem;
}
.home_intro {
    background-color: #e39a3b;
    height: 23rem;
    padding-left: 1rem;
    padding-right:1rem;
}
.icon_div img {
    background-size: cover;
    height: 7rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-radius: 50%;
    display: flex;
}
.basic_info h2{
    width: fit-content;
    margin:auto;
}
.basic_info p{
    width: fit-content;
    margin:auto;
    font-weight:bold;
}
.infodiv {
    border: 1px solid #fff;
    height: fit-content;
    width: 70%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    background-color: #1f1e1e;
    padding: 1rem;
}
.boxcontainer {
    height: fit-content;
    display: flex;
    width: 100%;
    margin:auto;
    justify-content: center;
    align-items: center;
}
.box1>div:nth-child(1){
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
  
}
.box1 > div:nth-child(1) p{
  margin-bottom: 0;
}
.box1 > div:nth-child(1) span{
    font-weight:bold;
}


.title{
    width:fit-content;
    margin:auto;
    margin-top: 0.5rem;
    font-weight:bold;
}
.box2 {
    border: 1px solid green;
    height:fit-content;
    padding: 0.2rem 1rem;
    width: 30%;
    display: flex;
    justify-content:center;
}
.box2 p{
    margin-top:0;
    margin-bottom: 0.2rem;
}
.transition-fade {
    animation: transitionright 1.5s;
    transform-origin: right;
}

.transition-fade-down {
    animation: transitionIn 1.5s;
    transform-origin: left;
}

@keyframes transitionIn {
    from {
        opacity: 1;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionright {
    from {
        opacity: 1;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
    }
}
/*Login Page*/
.login_page{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content:center;
}
.loginForm {
    max-width: 30rem;
}
/*Add Property*/
.property_form{
    max-width: 50rem;
}
/*Property Details*/
.swiper {
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    height: 50%;
}


.swiper-slide {
    width: 100%;
}


.swiper-slide img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 30rem;
    max-width: 60rem;
}
.swiper .swiper-button-next {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}
.swiper .swiper-button-prev {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

.swiper-pagination-bullet-active {
    background: white;
}

.property-info {
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 20px;
}

.property-info h1 {
    font-size: 24px;
    margin-top: 0;
}

.property-info .location {
    font-style: italic;
    color: white;
    margin:0;
}

.property-info i {
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.icons{
    display: flex;
    justify-content:space-between;
    width: 40%;
    max-width: 20rem;
}

.property-info i:after {
   content:"Text";
   font-size: 0.2rem;
}


.property-info .description {
    line-height: 1.6;
}

.property-info .price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}
.prop_price{
    font-size: 2rem;
    margin: 0;
}


/*View Property Admin*/
.prop-card {
    display: flex;
    width: 80%;
    margin: 1rem auto;
    justify-content: space-between;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1%;
    max-width: 50rem;
    align-items:center;
}
.prop-card img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.update-prop-button {
    background-color: blue;
    width: fit-content;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: white;
}
.delete-prop-button {
    background-color: red;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: white;
}
.update-prop-button:hover{
    cursor: pointer;
    background-color: darkblue
}
.delete-prop-button:hover{
    cursor: pointer;
    background-color: darkred;
}
.filters{
    width: 70%;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
input.filter-input {
    width: 30%;
    margin-right: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    color: black;
    background-color: white;
}
input.filter-btn{
    width: 25%;
    padding: 0 3rem;
    height: 2rem;
    width:fit-content;
    margin-top: 1rem;
}
.img-row img{
   width: 9rem;
   height: 9rem;
   margin: 1rem;
   margin-right:auto;
   border-radius: 5%;
}
.img-row{
    display: flex;
    justify-content: left;
    margin-left: auto;
}
.img-table{
    width: 100%;
    margin: auto;
}
.delConfirmation {
    background-color: #282a2e;
    border: 1px solid white;
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 22%;
    right: 10%;
    min-width: fit-content;
    height: fit-content;
    padding: 4rem 2rem;
    width: 10rem;
    margin: 0 auto;
}

.delConfirmation > input[type= submit]{
    margin: 1rem;
}
.flex-buttons{
    display: flex;
    width: 10rem;
    margin: auto;
    justify-content: space-between;
}
.hideform{
    display: none;
    background-color: red;
}

/*Create Employee*/
.success_message{
    background-color: darkgreen;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.error_message{
    background-color: red;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/*Staff Page */
.staff-info{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}
.update-account {
    padding: 0.5rem;
    background-color: #d6db9c;
    transition: 0.2s ease-in-out;
}
.update-account:hover{
    padding: 0.7rem;
}
.delete-account {
    padding: 0.5rem;
    background-color: #d61118;
    transition: 0.2s ease-in-out;
    color: white;
}
.delete-account:hover {
    padding: 0.7rem;
}
.date-joined {
    width: 95%;
    margin-left: auto;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
    caret-color: #fff;
    color: #fff;
    font-size: 1rem;
}

.loggedin-pages {
   background-color: #e39a3b;
   display: flex;
}
.loggedin-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.loggedin-list{
    display: flex;
    margin-top: 0;
}
.loggedin-list li {
    list-style: none;
    margin-left: 1rem;   
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    padding: 0.5rem;
    padding-bottom: 0;
}
.loggedin-list li:not(:last-child){
    margin-top: 1.5rem;
}
.loggedin-list a {
    text-decoration: none;
    margin-top: 1rem;
    color: white;
}
.loggedin-nav>a{
    margin-top: 2.5rem;
    margin-left: 1rem;
}
.loggedin-icon_div {
    background-size: cover;
    height: 5rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
}
.loggedin-icon_div img {
    border-radius: 50%;
}
.loggedin-list li:hover {
    border-bottom: 1.4px solid white;
}
.update-password {
    position: absolute;
    width: 60%;
    max-width: 35rem;
    left: 35%;
    right: 50%;
    top: 30%;
    padding: 0.5rem;
    background-color: #282a2e;
    border: 1px solid white;
}
.update-password input[type='submit']{
    padding: 0.5rem;
    margin-right: auto;
    width: fit-content;
    display: flex;
    margin-left: 12rem;
    background-color: #d6db9c;
    transition: 0.5s ease-in-out;
}
.update-password > p{
    width: 32rem;
    margin: auto;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}
.update-password input[type='submit']:hover{
    padding: 0.7rem;
}
.val {
    width: 95%;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
    caret-color: #fff;
    color: black;
    font-weight: bold;
}
.infodiv fieldset{
    width: 90%;
    margin: auto;
}
/*Index Tenant*/
.more-info{
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.more-info:hover {
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: wheat;
}
.next_rent {
    border: 1px solid green;
    margin-top: 0.5rem;
    display:flex;
    flex-flow: column;
    justify-content:center;
    transition: 0.2s ease-in-out;
    height: fit-content;
}
.next_rent:hover{
    
}
.next_rent p{
    margin-top:0.5rem;
    margin-left:auto;
    margin-right:auto;
    font-size: 2.5rem;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1rem;
}
.next_rent h3{
    margin-top:2rem;
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    
}
.table-div {
    display: block;
    align-content: center;
    width: 85vw;
}
table {
}
.table-form {
    width: 90%;
    margin: auto;
}
tr {
    width: fit-content;
}
td {
    padding: 1rem;
    width: fit-content;
}
th{
    padding: 0.5rem;
    width: fit-content;
}
details{
    margin: 1rem;
}
details>div{
    margin-left: 2rem;
    margin-top: 1rem;
}

summary {
    background-color: #f5b342;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.tenant-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    margin-right: 5px;
    color: lightgreen;
}

.value {
    color: #fff;
}
.populating-link > a {
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.populating-link > a:hover {
    color: black;
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 5px;
}
.popup {
    width: 400px;
    background-color: #1c1d1f;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 3rem 3rem;
    box-shadow: 0 2px 20px antiquewhite;
    visibility: hidden;
    transition: transform 0.4s top 0.4s
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}